{#
 # -------------------------------------------------------------------------
 # advancedforms plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2025 by the advancedforms plugin team.
 # @copyright 2015-2025 Teclib' and contributors.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/advancedforms
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{# We need to redefine the random to avoid an ID conflict #}
{% set options = options|merge({rand: random()}) %}

<div data-glpi-itildestination-field-config-display-condition="{{ strategy_key }}">
    <div class="d-flex w-full" data-glpi-itildestination-field-slm-computed-strategy-config>
        {{ fields.dropdownNumberField(
            extra_time_offset_field.input_name,
            extra_time_offset_field.value,
            "",
            options|merge({
                field_class: '',
                mb: '',
                no_label: true,
                min: extra_time_offset_field.min,
                max: extra_time_offset_field.max,
                aria_label: extra_time_offset_field.aria_label,
            })
        ) }}
        {{ fields.dropdownArrayField(
            extra_time_definition_field.input_name,
            extra_time_definition_field.value,
            extra_time_definition_field.possible_values,
            "",
            options|merge({
                field_class: '',
                mb: '',
                no_label: true,
                aria_label: extra_time_definition_field.aria_label,
            })
        ) }}
    </div>
</div>
